{% load static %}
<div class="footer">
    <div class="container">
        <div class="f-bg-w3l">
            <div class="col-md-4 w3layouts_footer_grid">
                <h2>Contact <span>Information</span></h2>
                <ul class="con_inner_text">
                    <li><span class="fa fa-map-marker" aria-hidden="true"></span>1234k Avenue, 4th block, <label> New
                        York City.</label></li>
                    <li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li><span class="fa fa-phone" aria-hidden="true"></span> +1234 567 567</li>
                </ul>

                <ul class="social_agileinfo">
                    <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 w3layouts_footer_grid">
                <h2>Subscribe <span>Newsletter</span></h2>
                <p>By subscribing to our mailing list you will always get latest news from us.</p>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Enter your email..." required="">
                    <button class="btn1"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-md-4 w3layouts_footer_grid">
                <h3>Recent <span>Works</span></h3>
                <ul class="con_inner_text midimg">
                    <li><a href="#"><img src="{% static 'images/p2.jpg' %}" alt="12" class="img-responsive"/></a></li>
                    <li><a href="#"><img src="{% static 'images/p3.jpg' %}" alt="43" class="img-responsive"/></a></li>
                    <li><a href=" #"><img src="{% static 'images/p4.jpg' %}" alt="43" class="img-responsive"/></a></li>
                    <li><a href=" #"><img src="{% static 'images/p5.jpg' %}" alt="53" class="img-responsive"/></a></li>
                    <li><a href=" #"><img src="{% static 'images/p6.jpg' %}" alt="34" class="img-responsive"/></a></li>
                    <li><a href=" #"><img src="{% static 'images/p7.jpg' %}" alt="432" class="img-responsive"/></a></li>
                    <li><a href=" #"><img src="{% static 'images/p8.jpg' %}" alt="234" class="img-responsive"/></a></li>
                    <li><a href=" #"><img src="{% static 'images/p9.jpg' %}" alt="234" class="img-responsive"/></a></li>
                </ul>

            </div>
            <div class=" clearfix">
            </div>
        </div>
    </div>
    <p class="copyright">© 2017 Beauty Salon. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                                                                                 target="_blank">w3layouts</a></p>
</div>
